/* variables */
:root {
  --color-text: #e3e3e3;
  --color-background: #131314;
  --color-background-contrast: #1e1f20;
  --color-primary: #1976f0;
  --color-secondary: #8f7fff;
  --color-accent: #d01941;

  color-scheme: dark;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);
  user-select: none;

  background-image: url("/assets/darkBluredStartImage.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10%;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  color: var(--color-text);
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#lowerContainer {
  margin-top: auto;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  width: 100%;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
  width: 100%;
  height: 50%;
  min-width: 100px;

  cursor: pointer;

  color: var(--color-text);
  background-color: var(--color-background-contrast);
  transition: 0.5s;

  border-radius: 4px;
  border-color: transparent;
}

.btns:hover {
  /* background-color: var(--color-accent); */
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.btns:active {
  background-color: var(--color-accent);
}
