body,
html {
  margin: 0;
  height: 100%;
  user-select: none;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-box {
  height: 10%;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-area {
  display: flex;
  flex: 1;
  /* flex-grow: 1; */
  min-height: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  flex: 1;
}

.box:nth-child(1) {
  background-color: green;
  color: white;
}
.box:nth-child(2) {
  background-color: red;
  color: white;
}

.grid-container {
  display: grid;
  /* 'auto-fill' sorgt für die Spalten, 'auto' für die Zeilenhöhe */
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-auto-rows: min-content; /* WICHTIG: Zeilen passen sich dem Inhalt an */

  align-content: start;
  gap: 15px;
  padding: 15px;

  /* Overflow-Handling */
  height: 100%; /* Bezieht sich auf den Parent (Flex-Box) */
  overflow-y: auto; /* Aktiviert den Scrollbalken */
  overflow-x: hidden;

  box-sizing: border-box;
  flex: 1;
  min-height: 0;
  /* grid-auto-flow: dense; */
  grid-auto-flow: row;
}

.grid-box {
  aspect-ratio: 1 / 1;
  grid-column: span 2;

  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.2s;
  flex-direction: column;
  overflow: hidden;
  cursor: grab;
}

.grid-box span,
.grid-box p {
  width: 100%; /* Nutzt die volle Breite der Box */
  white-space: nowrap; /* Text bleibt in einer Zeile */
  overflow: hidden; /* Versteckt alles, was übersteht */
  text-overflow: ellipsis; /* Fügt die "..." am Ende hinzu */
  font-size: 0.8rem;
  margin-top: auto; /* Schiebt den Text ans untere Ende der Box */
}

.grid-box-content {
  aspect-ratio: 1 / 1;
  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.2s;
  flex-direction: column;
  overflow: hidden;
  cursor: grab;

  /* WICHTIG: Damit es das Parent-Template perfekt ausfüllt */
  width: 100%;
  height: 100%;
}

.template-grid-box {
  grid-column: span 2;
  aspect-ratio: 1 / 1;
  background-color: #bb77df; /* Das Grün */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Beschneidet das blaue Child an den Ecken */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.move-template {
  grid-column: span 1;
  width: 100%;
  aspect-ratio: 1 / 2;
  background-color: #2dd117; /* Das Grün */
  border-radius: 8px;
  display: flex;
  align-items: center;
  overflow: hidden; /* Beschneidet das blaue Child an den Ecken */

  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: stretch;  
  flex-direction: column;
}
