body,
html {
  margin: 0;
  height: 100%;
  user-select: none;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-box {
  height: 10%;
  background-color: rgb(69, 69, 69);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-area {
  display: flex;
  flex: 1;
  /* flex-grow: 1; */
  min-height: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(108, 108, 108);
  flex: 1;
}
/* left */
.box:nth-child(1) {
  background-color: #181818;
  color: white;
  flex: 3;
}
/* right */
.box:nth-child(2) {
  background-color: #181818;
  color: white;
  flex: 7;
}

.grid-container {
  display: grid;
  /* 'auto-fill' sorgt für die Spalten, 'auto' für die Zeilenhöhe */
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-auto-rows: min-content; /* WICHTIG: Zeilen passen sich dem Inhalt an */

  align-content: start;
  gap: 15px;
  padding: 15px;

  /* Overflow-Handling */
  height: 100%; /* Bezieht sich auf den Parent (Flex-Box) */
  overflow-y: auto; /* Aktiviert den Scrollbalken */
  overflow-x: hidden;

  box-sizing: border-box;
  flex: 1;
  min-height: 0;
  /* grid-auto-flow: dense; */
  grid-auto-flow: row;
}

.grid-box {
  aspect-ratio: 1 / 1;
  grid-column: span 2;

  background-color: #4e2232;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.2s;
  flex-direction: column;
  overflow: hidden;
  cursor: grab;
}

.grid-box span,
.grid-box p {
  width: 100%; /* Nutzt die volle Breite der Box */
  white-space: nowrap; /* Text bleibt in einer Zeile */
  overflow: hidden; /* Versteckt alles, was übersteht */
  text-overflow: ellipsis; /* Fügt die "..." am Ende hinzu */
  font-size: 0.8rem;
  margin-top: auto; /* Schiebt den Text ans untere Ende der Box */
}

.grid-box-content {
  aspect-ratio: 1 / 1;
  background-color: #193639;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.2s;
  flex-direction: column;
  overflow: hidden;
  cursor: grab;

  /* WICHTIG: Damit es das Parent-Template perfekt ausfüllt */
  width: 100%;
  height: 100%;
}

.grid-box-content.displaySelected {
  background-color: #34dbbfff;
}

.grid-box-content.playing {
  background-color: #9534dbff;
}

.grid-box-content.editSelected {
  background-color: #34dbbfff;
}

.grid-box-content span,
.grid-box-content p {
  width: 100%; /* Nutzt die volle Breite der Box */
  white-space: nowrap; /* Text bleibt in einer Zeile */
  overflow: hidden; /* Versteckt alles, was übersteht */
  text-overflow: ellipsis; /* Fügt die "..." am Ende hinzu */
  font-size: 0.8rem;
  margin-top: auto; /* Schiebt den Text ans untere Ende der Box */
}

.color-div {
  margin: 10%;
  width: 100%;
  height: 100%;
}

.grid-box-parent {
  grid-column: span 3; /* WICHTIG: Er nimmt 3 Grid-Zellen ein */

  display: flex !important; /* Erzwingt Flex-Modus */
  flex-direction: row !important; /* Erzwingt Nebeneinander */
  align-items: stretch;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
}

.move-template {
  min-width: 0;
  /* Keine Grid-Regeln mehr! */
  flex: 1; /* Nimmt 1 Teil des Platzes */
  height: auto;
  background-color: #40341c;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ghost-move-template {
  min-width: 0;
  flex: 1; /* Nimmt 1 Teil des Platzes */
  height: auto;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-grid-box {
  min-width: 0;
  /* Keine Grid-Regeln mehr! */
  flex: 2; /* Nimmt 2 Teile des Platzes (doppelt so breit wie grün) */
  aspect-ratio: 1 / 1; /* Erzeugt die quadratische Höhe */
  background-color: #272727;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
