/* variables */
:root {
  --color-text: #e3e3e3;
  --color-background: #131314;
  --color-background-contrast: #1e1f20;
  --color-primary: #1976f0;
  --color-secondary: #8f7fff;
  --color-accent: #d01941;
}

body,
html {
  margin: 0;
  height: 100%;
  user-select: none;
  overflow: hidden;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overscroll-behavior: contain;
}

.top-box {
  height: 10%;
  background-color: var(--color-background);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
}

#mainBtns {
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100%;
  height: 100%;

  flex: 3;
  display: flex;
  align-items: center;
  padding: 0 5%;
  gap: 2%;
  box-sizing: border-box;
}

.btns {
  color: var(--color-text);
  background-color: var(--color-background-contrast);
  width: 10%;
  transition: 0.5s;
}

.btns.is-active {
  color: var(--color-text);
  background-color: var(--color-secondary);
  transition: 0.5s;
}

.btns.is-active:hover {
  background-color: var(--color-background-contrast);
  color: var(--color-accent);
}

.btns.is-active:active {
  background-color: var(--color-secondary);
}

.btns:hover {
  /* background-color: var(--color-accent); */
  color: var(--color-accent);
}

.btns:active {
  background-color: var(--color-secondary);
}

.btn-menus {
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100%;
  height: 100%;
  flex: 7;
  visibility: visible;

  display: flex;
  align-items: center;
  padding: 0 5%;
  gap: 2%;
  box-sizing: border-box;
}

.setting-btns {
  color: var(--color-text);
  background-color: var(--color-background-contrast);
  transition: 0.5s;
  width: 10%;
}

.setting-btns:hover {
  /* background-color: var(--color-accent); */
  color: var(--color-accent);
}

.setting-btns:active {
  background-color: var(--color-secondary);
}

.setting-btns.is-active {
  color: var(--color-text);
  background-color: var(--color-secondary);
  transition: 0.5s;
}

.setting-btns.is-active:hover {
  background-color: var(--color-background-contrast);
  color: var(--color-accent);
}

.setting-btns.is-active:active {
  background-color: var(--color-secondary);
}

.hidden-btn-menus {
  display: none;
  width: 0;
  height: 0;
}

.bottom-area {
  display: flex;
  flex: 1;
  /* flex-grow: 1; */
  min-height: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-background-contrast);
  flex: 1;
}
/* left */
.box:nth-child(1) {
  background-color: var(--color-background);
  color: var(--color-text);
  flex: 3;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
/* right */
.box:nth-child(2) {
  background-color: var(--color-background);
  color: var(--color-text);
  flex: 7;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

#leftUpperContainer {
  background-color: var(--color-background);
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  padding: 0 5%;
  gap: 2%;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  /* 'auto-fill' sorgt für die Spalten, 'auto' für die Zeilenhöhe */
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-auto-rows: min-content; /* WICHTIG: Zeilen passen sich dem Inhalt an */

  align-content: start;
  gap: 15px;
  padding: 15px;

  /* Overflow-Handling */
  height: 100%; /* Bezieht sich auf den Parent (Flex-Box) */
  overflow-y: auto; /* Aktiviert den Scrollbalken */
  overflow-x: hidden;

  box-sizing: border-box;
  flex: 1;
  min-height: 0;
  /* grid-auto-flow: dense; */
  grid-auto-flow: row;
  overscroll-behavior: contain;
}

.grid-box {
  aspect-ratio: 1 / 1;
  grid-column: span 2;

  background-color: var(--color-background-contrast);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.2s;
  flex-direction: column;
  overflow: hidden;
  cursor: grab;
}

.grid-box span,
.grid-box p {
  width: 100%; /* Nutzt die volle Breite der Box */
  white-space: nowrap; /* Text bleibt in einer Zeile */
  overflow: hidden; /* Versteckt alles, was übersteht */
  text-overflow: ellipsis; /* Fügt die "..." am Ende hinzu */
  font-size: 0.8rem;
  margin-top: auto; /* Schiebt den Text ans untere Ende der Box */
}

.grid-box-content {
  aspect-ratio: 1 / 1;
  background-color: var(--color-background-contrast);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.2s;
  flex-direction: column;
  overflow: hidden;
  cursor: grab;

  /* WICHTIG: Damit es das Parent-Template perfekt ausfüllt */
  width: 100%;
  height: 100%;
}

.grid-box-content.displaySelected {
  background-color: var(--color-accent);
}

.grid-box-content.playing {
  background-color: var(--color-primary);
}

.grid-box-content.editSelected {
  background-color: var(--color-accent);
}

.grid-box-content span,
.grid-box-content p {
  width: 100%; /* Nutzt die volle Breite der Box */
  white-space: nowrap; /* Text bleibt in einer Zeile */
  overflow: hidden; /* Versteckt alles, was übersteht */
  text-overflow: ellipsis; /* Fügt die "..." am Ende hinzu */
  font-size: 0.8rem;
  margin-top: auto; /* Schiebt den Text ans untere Ende der Box */
}

.color-div {
  margin: 10%;
  width: 100%;
  height: 100%;
}

.grid-box-parent {
  grid-column: span 3; /* WICHTIG: Er nimmt 3 Grid-Zellen ein */

  display: flex !important; /* Erzwingt Flex-Modus */
  flex-direction: row !important; /* Erzwingt Nebeneinander */
  align-items: stretch;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
}

.move-template {
  min-width: 0;
  /* Keine Grid-Regeln mehr! */
  flex: 1; /* Nimmt 1 Teil des Platzes */
  height: auto;
  background-color: var(--color-background-contrast);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ghost-move-template {
  min-width: 0;
  flex: 1; /* Nimmt 1 Teil des Platzes */
  height: auto;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-grid-box {
  min-width: 0;
  /* Keine Grid-Regeln mehr! */
  flex: 2; /* Nimmt 2 Teile des Platzes (doppelt so breit wie grün) */
  aspect-ratio: 1 / 1; /* Erzeugt die quadratische Höhe */
  background-color: var(--color-background-contrast);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
