body,
html {
  margin: 0;
  height: 100%;
  user-select: none;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-box {
  height: 10%;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-area {
  display: flex;
  flex-grow: 1;
  min-height: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  flex: 1;
}

.box:nth-child(1) {
  background-color: green;
  color: white;
}
.box:nth-child(2) {
  background-color: red;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* auto fill the rows */

  align-content: start;
  gap: 15px; /* distance between boxes */
  padding: 15px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 0;
  border: 2px dashed #ccc;
  transition: border-color 0.2s;
  /* pointer-events: auto !important; */
}

.grid-box {
  aspect-ratio: 1 / 1;

  background-color: #3498db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.2s;
  flex-direction: column;
  overflow: hidden;
  cursor: grab;
}

.grid-box span,
.grid-box p {
  width: 100%; /* Nutzt die volle Breite der Box */
  white-space: nowrap; /* Text bleibt in einer Zeile */
  overflow: hidden; /* Versteckt alles, was übersteht */
  text-overflow: ellipsis; /* Fügt die "..." am Ende hinzu */
  font-size: 0.8rem;
  margin-top: auto; /* Schiebt den Text ans untere Ende der Box */
}
