body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  user-select: none;
  cursor: none;
}

.media-slot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  transition: opacity 1s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.media-slot.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.media-slot img, .media-slot video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.no-transition {
  transition: none !important;
}